.tm-btn,
.tm-spinner > div,
#scrollup,
.tm-header-menu .tm-header-container-in,
.tm-site-header.small-height,
.tm-primary-nav .menu-item-has-children > ul,
.tm-site-header.tm-style2,
.tm-primary-nav-list,
.tm-hero-slider.tm-style1.owl-carousel .owl-nav .owl-prev:hover:after,
.tm-hero-slider.tm-style1.owl-carousel .owl-nav .owl-next:hover:after,
.tm-cta-wrap,
.tm-section-heading.tm-style1 .tm-left-bar,
.tm-section-heading.tm-style1 .tm-right-bar,
.tm-quotation-heading,
.tm-isotope-filter ul li a:before,
.tm-isotop-hover h2,
.tm-funfacts.tm-style1,
.tm-funfact-wrap,
.tm-team.tm-style1 .tm-member .tm-member-meta:before,
.tm-team.tm-style2 .tm-member-meta,
.owl-carousel button.owl-dot,
.tm-testimonials.tm-style1 .tm-testimonial-text,
.tm-footer-widget-title:before,
.widget-title:before,
.tagcloud a:hover,
.tm-share-box,
.tm-share-btn,
.post-details-wrap:before,
.tm-tag-wrap .tm-tag-list a:hover,
.accordian-head.active,
.tab-links li.active a,
.tm-video-popup-close:before,
.tm-video-popup-close:after,
.inner-progress,
.tm-service.tm-style1 .tm-tm-service-in .tm-service-bg:before
{
	background-color: #2ecc71;
}
a:hover,
a:focus,
a:active,
.tm-hero-social a:hover,
.tm-hero-social-area.tm-style2 .tm-hero-social a:hover,
.tm-hero-slider.tm-style1.owl-carousel .owl-nav .owl-prev:hover, 
.tm-hero-slider.tm-style1.owl-carousel .owl-nav .owl-next:hover,
.tm-about.tm-style1 h2 span,
.tm-focus,
.tm-about.tm-style3 h2 span,
.tm-history-seciton.tm-style1 .tm-history-text h2 span,
.tm-service.tm-style1 .tm-service-logo,
.tm-benefit-icon,
.tm-isotope-filter ul li.active a,
.tm-isotope-filter ul li a:hover,
.tm-funfacts.tm-style1 .tm-funfact-icon,
.tm-funfacts.tm-style2 .tm-funfact-icon,
.tm-team.tm-style1 .tm-member-social a:hover,
.tm-team.tm-style2 .slick-active .tm-member-social a:hover,
.tm-team.tm-style1 .owl-nav .owl-prev,
.tm-team.tm-style1 .owl-nav .owl-next,
.tm-team.tm-style2 .slick-next.slick-arrow:before, 
.tm-team.tm-style2 .slick-prev.slick-arrow:after,
.tm-post.tm-style1 .tm-post-cont a:hover,
.tm-post.tm-style2 .tm-post-cont a:hover,
.tm-footer-location-widget ul li i
.tm-subscribe-btn,
.widget.widget_recent_entries ul a:hover h2,
.readmore-btn:hover,
.page-numbers.current,
.comment-author a.nm:hover,
.comment-author .nm a:hover,
.comment-metadata a:hover,
.comment-reply-link:hover,
.comment-reply-link:focus,
.tm-contact-info h2 span,
.tm-faq-heading h2 span,
.tm-contact-info .tm-single-info i,
.tm-error-section h2 span,
.tm-comming-heading,
.tm-count-title,
.tm-section-separator,
.tm-footer-location-widget ul li i
{
	color: #2ecc71;
}
blockquote,
.tm-hero-social a:hover,
.tm-hero-social-area.tm-style2 .tm-hero-social a:hover,
.tm-team.tm-style2 .slick-current .tm-member-img:before,
.tm-clients.tm-style1 .tm-client:before,
.tm-clients.tm-style1 .tm-client:after,
.comment-form textarea:focus, 
.comment-form input:focus,
.tm-form-field input:focus,
.tm-form-field textarea:focus,
.countdown-element,
.slick-dots li.slick-active button
{
	border-color: #2ecc71;
}