{% load static %}
{% static "images" as baseUrl %}
{% load crispy_forms_tags %}

<!doctype html>
<html>
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="ThemeMarch">
	<!-- Page Title -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	
  <!-- Favicon Icon -->
	<link rel="icon" href="{% static 'img/favicon.png'%}">
	<!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/icofont.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/owl.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/modal.video.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/slick.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link id="theme" rel="stylesheet" href="{% static 'css/color/color1.css'%}">
	<title>4WallsEstimator | Construction Estimation Services</title>
</head>

<body>
  <!-- Start Preloader -->
  {% comment %} <div id="tm-preloader">
    <div id="tm-status">
      <div class="tm-spinner">
        <div class="tm-rect1"></div>
        <div class="tm-rect2"></div>
        <div class="tm-rect3"></div>
        <div class="tm-rect4"></div>
        <div class="tm-rect5"></div>
      </div>
    </div>
  </div> {% endcomment %}
  <!-- End Preloader -->

  <!-- Start Site Header Wrap -->
  <header class="tm-site-header">
  	<div class="tm-hero-social-area">
  		<div class="container">
  			<div class="tm-hero-social tm-white-social">
	  			<a src="#">
	  				<i class="fa fa-facebook"></i>
	  				<i class="fa fa-facebook"></i>
	  			</a>
	  			<a href="#">
	  				<i class="fa fa-twitter"></i>
	  				<i class="fa fa-twitter"></i>
	  			</a>
	  			<a href="#">
	  				<i class="fa fa-pinterest-p"></i>
	  				<i class="fa fa-pinterest-p"></i>
	  			</a>
	  			<a href="#">
	  				<i class="fa fa-linkedin"></i>
	  				<i class="fa fa-linkedin"></i>
	  			</a>
	  			<a href="#">
	  				<i class="fa fa-google-plus"></i>
	  				<i class="fa fa-google-plus"></i>
	  			</a>
	  		</div>
  		</div>
  	</div>
    <div class="tm-header-menu">
      <div class="container tm-header-menu-container">
      	<div class="tm-header-container-in">
      		<div class="tm-site-branding">
	          <!-- For Image Logo -->
	          <a href="/home" class="tm-logo-link">
	            <img src="{% static 'img/logo4walls.jpg'%}" alt="" class="tm-logo">
	          </a>
	          <!-- For Site Title -->
	          <!-- <span class="tm-site-title">
	          	<a href="index.html">Veril</a>
	          </span> -->
	        </div>
	        <nav class="tm-primary-nav tm-section-active">
	          <ul class="tm-primary-nav-list">
	            <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Home</a>
	            	{% comment %} <ul>
	                <li class="menu-item"><a href="index.html">Home One</a></li>
	                <li class="menu-item"><a href="index1.html">Home Two</a></li>
	                <li class="menu-item"><a href="index2.html">Home Three</a></li>
	                <li class="menu-item"><a href="index3.html">Home Four</a></li>
	              </ul> {% endcomment %}
	            </li>
	            <li class="menu-item menu-item-has-children"><a href="/about">About</a>
                {% comment %} <ul>
                  <li class="menu-item"><a href="about1.html">About One</a></li>
                  <li class="menu-item"><a href="about2.html">About Two</a></li>
                </ul> {% endcomment %}
              </li>
              <li class="menu-item menu-item-has-children"><a href="/services">Service</a>
                {% comment %} <ul>
                  <li class="menu-item"><a href="service1.html">Service One</a></li>
                  <li class="menu-item"><a href="service2.html">Service Two</a></li>
                </ul> {% endcomment %}
              </li>
			  {% comment %} 
              <li class="menu-item menu-item-has-children"><a href="#">Porject</a>
                <ul>
                  <li class="menu-item"><a href="projects1.html">Porject One</a></li>
                  <li class="menu-item"><a href="projects2.html">Porject Two</a></li>
                </ul>
              </li>
	            <li class="menu-item"><a href="team.html">Team</a></li>
	            <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
	            	<ul>
	                <li class="menu-item"><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
	                <li class="menu-item"><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
	                <li class="menu-item"><a href="blog-massonry-view.html">Blog Massonry View</a></li>
	                <li class="menu-item"><a href="blog-grid-view.html">Blog Grid View</a></li>
	                <li class="menu-item"><a href="single-blog.html">Single Blog</a></li>
	              </ul>
	            </li>
	            <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                <ul>
                  <li class="menu-item"><a href="404.html">404 Page</a></li>
                  <li class="menu-item"><a href="faq.html">FAQ Page</a></li>
                  <li class="menu-item"><a href="commingsoon.html">Comming Soon Page</a></li>
                </ul>
              </li> {% endcomment %}
	            <li class="menu-item menu-item-has-children"><a href="/contact">Contact</a>
                {% comment %} <ul>
                  <li class="menu-item"><a href="contact.html">Contact One</a></li>
                  <li class="menu-item"><a href="contact1.html">Contact Two</a></li>
                </ul> {% endcomment %}
              </li>
	          </ul>
	          <div class="tm-hero-search-btn">
	          	<i class="icofont-search-2"></i>
	          </div>
	          <div class="tm-main-search">
	          	<form action="#">
	          		<input type="text" placeholder="Search...">
	          		<span class="tm-cross"><i class="icofont-close-line"></i></span>
	          	</form>
	          </div>
	        </nav>
      	</div>
      </div><!-- .tm-header-menu-container -->
    </div><!-- .tm-header-menu -->
  </header><!-- .tm-site-header -->

	<!-- Start Hero Section -->
	<section class="tm-hero tm-style1 tm-bg youtube-bg" src="{% static 'img/herobg.jpg' %}" style="background-image: url('{% static 'img/herobg.jpg'%}')">
		<div id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=9yjIigT-kTM', containment:'.youtube-bg',autoPlay:true, mute:true, startAt:1, opacity:1, showControls:false, loop:true}"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-hero-text">
						<h1 class="tm-hero-title ">We are Expert in Construction Cost Estimation</h1>
						<div class="tm-hero-subtitle">Estimation Problem? Call 24Hr Emergency Service</div>
						<div class="tm-button-group">
							<a href="/contact" class="tm-btn tm-color1"><span>Contact Us</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero Section -->
	
	<!-- Start About Section -->
	<section class="tm-about tm-style1 tm-section">
		<div class="empty-space col-md-b100 col-xs-b65"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-7">
					<div class="tm-about-img tm-bg" data-src="{% static 'img/aboutimg.jpg'%}" style="background-image: url('{% static 'img/aboutimg.jpg'%}')"></div>
				</div>
				<div class="col-lg-5">
					<div class="tm-about-text">
						<h2>You Know <span>About</span> Our Company</h2>
						<div class="tm-sample-text">
							<p>Digital Estimating is a team of construction estimating professionals offering top-notch services. We specialize in delivering quality estimates for public/open shop, residential, and commercial projects, helping you secure winning bids. Our experienced team provides a range of services including labor and material estimates, material takeoff, and project management. We are dedicated to ensuring your satisfaction through our hard work. With over five years in the business, we have developed a refined approach based on integrity and dedication. Every project is seen as a challenge, and we surpass expectations through teamwork and talent. Our team consists of leading professionals in the construction field. By choosing Digital Estimating, you can be confident in the success of your future projects.</p>
							
						</div>
						<div class="tm-about-btn">
							{% comment %} <a href="https://www.youtube.com/embed/cjpPMhS-0f4?autoplay=1" class="tm-video-button tm-video-open"> {% endcomment %}
								<a href="#" class="tm-video-button tm-video-open">
								<div class="tm-video-button-in">
			            <i class="icofont-play-alt-3"></i>
			            <span class="tm-video-animaiton"><span></span></span>
			          </div>
			          <span>Watch Video</span>
							</a>
						</div>
					</div>
					<div class="empty-space col-md-b100 col-xs-b65"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->

	<!-- Start Service Section -->
	<section class="tm-gray-bg tm-service-wrap tm-style2">
		<div class="empty-space col-md-b100 col-xs-b65"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-section-heading tm-style1 text-center">
						<h2>SERVICES</h2>
						<div class="tm-section-separator">
							<span class="tm-left-bar"></span>
							<i class="icofont-industries"></i>
							<span class="tm-right-bar"></span>
						</div>
						<div class="empty-space col-md-b15 col-xs-b15"></div>
						<p>This is our service which we provide for you, take a look and tell us how we can help to make your project success.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="tm-service tm-style1">
						<div class="tm-tm-service-in">
							<div class="tm-service-logo"><i class="icofont-engineer"></i></div>
              <h3 class="tm-service-heading">Engineering</h3>
							<div class="tm-sample-text">Provide Engineering Services</div>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 col-md-6">
					<div class="tm-service tm-style1">
						<div class="tm-tm-service-in">
							<div class="tm-service-logo"><i class="icofont-architecture"></i></div>
							<h3 class="tm-service-heading">Architecture</h3>
							<div class="tm-sample-text">Designing of a Beautiful Architecture</div>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 col-md-6">
					<div class="tm-service tm-style1">
						<div class="tm-tm-service-in">
							<div class="tm-service-logo"><i class="icofont-recycle-alt"></i></div>
							<h3 class="tm-service-heading">Residential Projects</h3>
							<div class="tm-sample-text">Estimation of Residential Projects</div>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 col-md-6">
					<div class="tm-service tm-style1">
						<div class="tm-tm-service-in">
							<div class="tm-service-logo"><i class="icofont-vehicle-crane"></i></div>
							<h3 class="tm-service-heading">Comercial Projects</h3>
							<div class="tm-sample-text">Estimation of Commercial Projects</div>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 col-md-6">
					<div class="tm-service tm-style1">
						<div class="tm-tm-service-in">
							<div class="tm-service-logo"><i class="icofont-vehicle-excavator"></i></div>
							<h3 class="tm-service-heading">Roof TakeOff</h3>
							<div class="tm-sample-text">Provide best solution for Roof Takeoff</div>
						</div>
					</div>
				</div><!-- .col -->
				<div class="col-lg-4 col-md-6">
					<div class="tm-service tm-style1">
						<div class="tm-tm-service-in">
							<div class="tm-service-logo"><i class="icofont-vehicle-wrecking"></i></div>
							<h3 class="tm-service-heading">Diversified</h3>
							<div class="tm-sample-text">Handlling all type of work</div>
						</div>
					</div>
				</div><!-- .col -->
			</div><!-- .row -->
		</div>
		<div class="empty-space col-md-b100 col-xs-b65"></div>
	</section>
	<!-- End Service Section -->

  <!-- Start Project Section -->
  {% comment %} <section class="tm-project-section">
  	<div class="empty-space col-md-b100 col-xs-b65"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tm-section-heading tm-style1 text-center">
            <h2>OUR GREAT WORKS</h2>
            <div class="tm-section-separator">
              <span class="tm-left-bar"></span>
              <i class="icofont-industries"></i>
              <span class="tm-right-bar"></span>
            </div>
            <div class="empty-space col-md-b15 col-xs-b15"></div>
            <p>See below for a brief highlight of the phenomenal work performed by our team. We give just a few demos of your attraction.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tm-isotope-filter text-center">
            <ul>
              <li class="active"><a href="#" data-filter="*">View All</a></li>
              <li><a href="#" data-filter=".agriculture">Agriculture</a></li>
              <li><a href="#" data-filter=".materials">Materials</a></li>
              <li><a href="#" data-filter=".chemical">Chemical</a></li>
              <li><a href="#" data-filter=".mechanical">Mechanical</a></li>
            </ul>
          </div><!-- .tm-isotope-filter-area --> {% endcomment %}
          {% comment %} <div class="tm-isotope tm-style2 tm-col4"><!--  gutter-less --> {% endcomment %}
            {% comment %} <div class="tm-grid-sizer"></div>
            <div class="tm-isotop-item materials">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project15.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item chemical">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project16.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item agriculture">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project17.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item mechanical">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project18.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item chemical">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project19.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item mechanical">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project20.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item agriculture">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project21.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
            {% comment %} <div class="tm-isotop-item agriculture">
              <a href="#" class="item-inner">
                <div class="tm-project-img tm-bg" data-src="assets/img/project22.jpg"></div>
                <div class="tm-isotop-hover">
                  <i class="fa fa-link"></i>
                </div>
              </a>
            </div><!-- .tm-isotop-item --> {% endcomment %}
          {% comment %} </div><!-- .portfolio --> {% endcomment %}
        {% comment %} </div>
      </div>
    </div>
    <div class="empty-space col-md-b100 col-xs-b65"></div>
  </section> {% endcomment %}
  <!-- End About Section -->

	<!-- Start Fun Fact section -->
	<section class="tm-funfact-wrap">
		<div class="empty-space col-md-b100 col-xs-b65"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-sm-6">
					<div class="tm-funfact tm-style1">
						<h2 class="tm-funfact-number">2025</h2>
						<div class="tm-funfact-icon"><i class="icofont-mail-box"></i></div>
						<h3 class="tm-funfact-title">Mail Conversation</h3>
					</div>
				</div><!-- .col -->
				<div class="col-xl-3 col-sm-6">
					<div class="tm-funfact tm-style1">
						<h2 class="tm-funfact-number">700</h2>
						<div class="tm-funfact-icon"><i class="icofont-building-alt"></i></div>
						<h3 class="tm-funfact-title">Projects Complete</h3>
					</div>
				</div><!-- .col -->
				<div class="col-xl-3 col-sm-6">
					<div class="tm-funfact tm-style1">
						<h2 class="tm-funfact-number">7</h2>
						<div class="tm-funfact-icon"><i class="icofont-award"></i></div>
						<h3 class="tm-funfact-title">AWARDS</h3>
					</div>
				</div><!-- .col -->
				<div class="col-xl-3 col-sm-6">
					<div class="tm-funfact tm-style1">
						<h2 class="tm-funfact-number">950</h2>
						<div class="tm-funfact-icon"><i class="icofont-people"></i></div>
						<h3 class="tm-funfact-title">Happy Clients</h3>
					</div>
				</div><!-- .col -->
			</div><!-- .row -->
		</div>
		<div class="empty-space col-md-b70 col-xs-b35"></div>
	</section>
	<!-- End Fun Fact section -->

	<!-- Start Team Section -->
	{% comment %} <section class="tm-team-wrap tm-bg" data-src="assets/img/member-bg.jpg">
		<div class="empty-space col-md-b100 col-xs-b65"></div>
    <div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-section-heading tm-style1 text-center">
						<h2>OUR TEAM MEMBERS</h2>
						<div class="tm-section-separator">
							<span class="tm-left-bar"></span>
							<i class="icofont-industries"></i>
							<span class="tm-right-bar"></span>
						</div>
						<div class="empty-space col-md-b15 col-xs-b15"></div>
						<p>Our dedicated employees is what makes Veril a great company to work with and is an often sought-after company for employment. We're one big family that respects each other</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-team tm-style1 owl-carousel">
						<div class="tm-member">
							<div class="tm-member-img"><img src="assets/img/team01.png" alt=""></div>
							<div class="tm-member-meta">
								<div class="tm-member-desc text-center">
									<h3 class="tm-member-name">Kristen craft</h3>
									<span class="tm-member-desination">Architect</span>
								</div>
								<div class="tm-member-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
						</div><!-- .tm-member --> {% endcomment %}
						{% comment %} <div class="tm-member">
							<div class="tm-member-img"><img src="assets/img/team02.png" alt=""></div>
							<div class="tm-member-meta">
								<div class="tm-member-desc text-center">
									<h3 class="tm-member-name">Ella West</h3>
									<span class="tm-member-desination">Worker</span>
								</div>
								<div class="tm-member-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
						</div><!-- .tm-member --> {% endcomment %}
						{% comment %} <div class="tm-member">
							<div class="tm-member-img"><img src="assets/img/team03.png" alt=""></div>
							<div class="tm-member-meta">
								<div class="tm-member-desc text-center">
									<h3 class="tm-member-name">Robin Row</h3>
									<span class="tm-member-desination">Incharge</span>
								</div>
								<div class="tm-member-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</div>
							</div>
						</div><!-- .tm-member --> {% endcomment %}
					{% comment %} </div>
				</div>
			</div>
		</div>
		<div class="empty-space col-md-b100 col-xs-b65"></div>
	</section> {% endcomment %}
	<!-- End Team Section -->

	<!-- Start Testimonial Section -->
	{% comment %} <section class="tm-testimonial-wrap">
		<div class="tm-testimonials tm-style1 owl-carousel">
			<div class="tm-testimonial">
				<div class="tm-testimonial-text">
					<i class="icofont-quote-left"></i>
					<blockquote>
						All the wonderful work you and your crew are doing. Our team has nothing but good things to say - we are really fortunate to have found you for this project!
					</blockquote>
					<div class="tm-testimonial-author">
						<h4>Rosa Laforge</h4>
						<span>Founder</span>
					</div>
				</div>
				<div class="tm-testimonial-img" style="background-image: url({% static 'img/testimonial01.jpg'%})"></div>
			</div>
			<div class="tm-testimonial">
				<div class="tm-testimonial-text">
					<i class="icofont-quote-left"></i>
					<blockquote>
						The team of project managers, supervisors, and their support teams can't be rivaled by any other contractor I have worked with over the past 15 years.
					</blockquote>
					<div class="tm-testimonial-author">
						<h4>Lili Candy</h4>
						<span>Professor</span>
					</div>
				</div>
				<div class="tm-testimonial-img" style="background-image: url(assets/img/testimonial02.jpg);"></div>
			</div>
			<div class="tm-testimonial">
				<div class="tm-testimonial-text">
					<i class="icofont-quote-left"></i>
					<blockquote>
						Thank you for guiding us through the construction process, being kind, understanding, and always ready to accommodate our needs.
					</blockquote>
					<div class="tm-testimonial-author">
						<h4>Jony Row</h4>
						<span>Engineer</span>
					</div>
				</div>
				<div class="tm-testimonial-img" style="background-image: url(assets/img/testimonial03.jpg);"></div>
			</div>
		</div>
	</section> {% endcomment %}
	<!-- End Testimonial Section -->

	<!-- Start Blog Section -->
	{% comment %} <section class="tm-blog-wrap">
		<div class="empty-space col-md-b100 col-xs-b65"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-section-heading tm-style1 text-center">
						<h2>LATEST POSTS</h2>
						<div class="tm-section-separator">
							<span class="tm-left-bar"></span>
							<i class="icofont-industries"></i>
							<span class="tm-right-bar"></span>
						</div>
						<div class="empty-space col-md-b15 col-xs-b15"></div>
						<p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an cule dicta iriure at phaedrum. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-isotope tm-blog-isotop"><!--  gutter-less -->
			      <div class="tm-grid-sizer"></div>
			      <div class="tm-isotop-item tm-w66">
							<div class="tm-post tm-style1">
								<a href="#" class="tm-absolute-link"></a>
								<div class="tm-post-thumb"><img src="assets/img/blog01.jpg" alt="blog01"></div>
								<div class="tm-post-cont">
									<div class="tm-post-cont-in">
										<h2 class="tm-post-heading"><a href="#">Construction is the process of constructing a building</a></h2>
										<div class="tm-post-meta">
											<span class="tm-posted-by"><a href="#">Posted by Hatchett  </a></span>
											<span class="tm-post-date">On July 05, 2018</span>
										</div>
									</div>
									<a href="#" class="tm-post-btn">Read More <i class="icofont-bubble-right"></i></a>
								</div>
							</div>
			      </div>
			      <div class="tm-isotop-item">
							<div class="tm-post tm-style2">
								<a href="#" class="tm-absolute-link"></a>
								<div class="tm-post-thumb"><img src="assets/img/blog02.jpg" alt="blog02"></div>
								<div class="tm-post-cont">
									<div class="tm-post-cont-in">
										<h2 class="tm-post-heading"><a href="#">Construction is the process of adding structure</a></h2>
										<div class="tm-post-meta">
											<span class="tm-posted-by"><a href="#">Posted by Hatchett  </a></span>
											<span class="tm-post-date">On July 06, 2018</span>
										</div>
									</div>
								</div>
							</div>
			      </div>
			      <div class="tm-isotop-item">
							<div class="tm-post tm-style2">
								<a href="#" class="tm-absolute-link"></a>
								<div class="tm-post-thumb"><img src="assets/img/blog03.jpg" alt="blog02"></div>
								<div class="tm-post-cont">
									<div class="tm-post-cont-in">
										<h2 class="tm-post-heading"><a href="#">A construction project must fit into the legal framework</a></h2>
										<div class="tm-post-meta">
											<span class="tm-posted-by"><a href="#">Posted by Hatchett  </a></span>
											<span class="tm-post-date">On July 06, 2018</span>
										</div>
									</div>
								</div>
							</div>
			      </div>
			     </div>
				</div>
			</div>
		</div>
		<div class="empty-space col-md-b100 col-xs-b65"></div>
	</section> {% endcomment %}
	<!-- End Blog Section -->

	<!-- Start Clicent Section -->
	<div class="tm-client-wrap tm-bg" data-src="{% static 'img/client-bg.jpg'%}">
		<div class="empty-space col-md-b100 col-xs-b65"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="tm-clients tm-style1 owl-carousel">
						<div class="tm-client">
							<img src="{% static 'img/c1.png'%}">
						</div>
						<div class="tm-client">
							<img src="{% static 'img/c2.png'%}">
						</div>
						<div class="tm-client">
							<img src="{% static 'img/c3.png'%}">
						</div>
						<div class="tm-client">
							<img src="{% static 'img/c4.png'%}">
						</div>
						<div class="tm-client">
							<img src="{% static 'img/c2.png'%}">
						</div>
						<div class="tm-client">
							<img src="{% static 'img/c1.png'%}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="empty-space col-md-b100 col-xs-b65"></div>
	</div>
	<!-- End Clicent Section -->

	<!-- Start Video Popup -->
  <div class="tm-video-popup">
    <div class="tm-video-popup-overlay"></div>
    <div class="tm-video-popup-content">
      <div class="tm-video-popup-layer"></div>
      <div class="tm-video-popup-container">
        <div class="tm-video-popup-align">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="about:blank"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-video-popup-close"></div>
  </div>
  <!-- End Video Popup -->

	<!-- Start Footer Section -->
	<footer class="tm-site-footer">
    <div class="tm-main-footer tm-bg" data-src="{% static 'img/footer-bg.jpg'%}" style="background-image:url('{% static 'img/footer-bg.jpg' %}');">
      <div class="empty-space col-md-b100 col-xs-b65"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="tm-footer-widget tm-text-widget">
              <div class="tm-footer-logo">
                <a href="#"><img src="{% static 'img/logo4walls.jpg'%} "></a>
              </div>
              <div class="tm-footer-text-widget">
                {% comment %} consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna {% endcomment %}
                {% comment %} <div class="tm-footer-readmore-btn">
                  <a href="#" class="readmore-btn">
                    Read More
                    <span class="tm-readmore-icon">
                      <i class="icofont icofont-bubble-right"></i>
                      <i class="icofont icofont-bubble-right"></i>
                    </span>
                  </a>
                </div> {% endcomment %}
              </div>
              {% comment %} <div class="tm-subscribe">
                <form class="mailchimp subscribe-form" action="#">
                  <input type="email" name="subscribe" id="subscriber-email" placeholder="Subscribe here">
                  <button type="submit" id="subscribe-button" class="tm-subscribe-btn"><i class="fa fa-paper-plane-o"></i></button>
                  <h5 class="subscription-success"> .</h5>
                  <h5 class="subscription-error"> .</h5>
                  <label class="subscription-label" for="subscriber-email"></label>
                </form>
              </div> {% endcomment %}
            </div>
            <div class="empty-space col-md-b40 col-xs-b40"></div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="tm-footer-widget tm-footer-location-widget">
              <h2 class="tm-footer-widget-title">Contuct Us</h2>
              <ul>
                <li><i class="icofont-location-pin"></i>11001 14th Street Ave <br>
					San Francisco, CA
                </li>
                <li><i class="icofont-envelope"></i>jacob@4wallsestimator.info <br>
                    {% comment %} Skype: example {% endcomment %}
                </li>
                <li><i class="icofont-phone"></i>+1 (470) 482 8080<br>
                    {% comment %} 1-800-915-6271 {% endcomment %}
                </li>
              </ul>
            </div>
            <div class="empty-space col-md-b40 col-xs-b40"></div>
          </div>
          {% comment %} <div class="col-lg-3 col-md-6">
            <div class="tm-footer-widget tm-footer-link-widget">
              <h2 class="tm-footer-widget-title">Service</h2>
              <ul>
                <li><i class="icofont-thin-double-right"></i><a href="#">Pre-construction services</a></li>
                <li><i class="icofont-thin-double-right"></i><a href="#">Road construction</a></li>
                <li><i class="icofont-thin-double-right"></i><a href="#">Construction management</a></li>
                <li><i class="icofont-thin-double-right"></i><a href="#">Construction in progress</a></li>
                <li><i class="icofont-thin-double-right"></i><a href="#">General services</a></li>
                <li><i class="icofont-thin-double-right"></i><a href="#">Civil construction services</a></li>
              </ul>
            </div>
            <div class="empty-space col-md-b40 col-xs-b40"></div>
          </div> {% endcomment %}
          {% comment %} <div class="col-lg-3 col-md-6">
            <div class="tm-footer-widget tm-recent-project-widget">
              <h2 class="tm-footer-widget-title">Project</h2>
              <ul>
                <li><a href="#"><img src="{% static 'img/rp01.jpg'%}"></a></li>
                <li><a href="#"><img src="{% static 'img/rp02.jpg'%}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/rp03.jpg'%}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/rp04.jpg'%}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/rp05.jpg'%}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'img/rp06.jpg'%}" alt=""></a></li>
              </ul>
            </div>
            <div class="empty-space col-md-b40 col-xs-b40"></div>
          </div> {% endcomment %}
        </div>
      </div><!-- .container -->
      <div class="empty-space col-md-b60 col-xs-b25"></div>
    </div>
    <div class="tm-copyride">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            © 2020. Designed by <a href="#">PYRAMID TECHNOLOGIES</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Section -->

	<!-- Scroll Up -->
  <div id='scrollup'><i class="fa fa-angle-double-up"></i></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<!-- Scripts -->
	<script script={% static 'js/vendor/modernizr-3.5.0.min.js'%}></script>
	<script script={% static 'js/vendor/jquery-1.12.4.min.js'%}></script>
    <script script={% static 'js/smoothScroll.min.js'%}></script>
    <script script={% static 'js/jQuery.easing.min.js'%}></script>
    <script script={% static 'js/wow.min.js'%}></script>
    <script script={% static 'js/mailchimp.min.js'%}></script>
	<script script={% static 'js/owl.min.js'%}></script>
    <script script={% static 'js/isotope.min.js'%}></script>
    <script script={% static 'js/tamjid-counter.min.js'%}></script>
    <script script={% static 'js/YTPlayer.min.js'%}></script>
    <script script={% static 'js/parallax.min.js'%}></script>
	<script script={% static 'js/main.js'%}></script>

</body>
</html>
